h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}
p {
    font-size: 18px;
    
}
ol li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-style: italic;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    color: red;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
nav ul {
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
  }
  
  nav ul li a:hover {
    background-color: #111;
  }