/* General page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Header styling */
  header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  /* Navigation styling */
  nav ul {
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
  }
  
  nav ul li a:hover {
    background-color: #111;
  }
  
  /* Main content area */
  main {
    padding: 20px;
  }
  
  /* Section with buttons */
  section {
    margin-bottom: 20px;
  }
  
  button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* Footer styling */
  footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .card-button {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: grey;
    padding: 15px 20px;
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
    width: 300px;
    height: 200px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.5s, box-shadow 0.2s;
  }

  .card-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  }